/vendor/
/build/
node_modules
.phpunit.result.cache
composer.lock
yarn-error.log
modules/ppcp-button/assets/*
modules/ppcp-onboarding/assets/task-list-fill.js
modules/ppcp-onboarding/assets/task-list-fill.asset.php
modules/ppcp-wc-gateway/assets/*
.idea/
*.zip
